@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

html {
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  overflow: hidden;
  background: #e3e3e3 url(../img/bg.jpg) no-repeat center/cover;
}

body:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  right: 0;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.quote-container {
  position: relative;
  min-width: 200px;
  max-width: 600px;
  min-height: 150px;
  margin: 0 auto;
  padding: 24px;
  box-sizing: border-box;
  background: rgba(73, 24, 113, 0.55);
  box-shadow: 0 8px 32px 0 rgba(73, 24, 113, 0.6);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 4px;
  color: white;
}

.quote-container-preloader:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background: rgba(73, 24, 113, 0.85);
}

.quote-container-preloader:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 48px;
  margin-top: -24px;
  margin-left: -24px;
  background: url(../img/loader.gif) no-repeat center/cover;
}

.quote-text {
  margin: 20px 0;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.5px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.button {
  display: flex;
  padding: 10px 20px;
  margin-left: 10px;
  color: aqua;
  border: 2px solid rgba(0, 255, 255, 0.51);
  transition: all 0.25s;
}

.button:hover {
  background: darkcyan;
  color: white;
  border-color: darkcyan;
}
